.msg-content-info {
    -fx-background-radius: 2px;
    -fx-padding: 5px;
    -fx-background-color: #4e5052;
}
.msg-content {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #714449;
    -fx-padding: 5px;
    -fx-spacing: 5px;
    -fx-background-color: #593d41;
    -fx-max-width: 350px;
}
.label {
    -fx-background-color: transparent;
    -fx-text-fill: #afb1b3;
    -fx-wrap-text: true;
}
