.alert-content-pane {
    -fx-background-color: -app-base;
    -fx-padding: 5;
}

.alert-content {
    -fx-alignment: center;
}

.alert-btn-group {
    -fx-spacing: 5;
    -fx-alignment: bottom-right;
}



