.text-area > .scroll-pane {
    -fx-padding: 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top > .tab-container > .tab-label {
    -fx-content-display: graphic-only;
}

.split-pane {
    -fx-padding: 5 5 10 5;
}

.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}


/*icons */

/*addr relate*/
.icon-history,
.icon-add {
    -fx-min-height: 14px;
    -fx-min-width: 14px;
    -fx-pref-height: 14px;
    -fx-pref-width: 14px;
    -fx-max-width: 14px;
    -fx-max-height: 14px;
}

/*sidebar*/
.icon-wrap {
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
}

.icon-clear {
    -fx-pref-height: 16px;
    -fx-pref-width: 14px;
    -fx-max-width: 14px;
    -fx-max-height: 16px;
}

.icon-display-setting {
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
}

.icon-encode-setting {
    -fx-pref-height: 16px;
    -fx-pref-width: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 16px;
    -fx-min-width: 18px;
    -fx-min-height: 16px;
}

.icon-mute-req {
    -fx-pref-height: 16px;
    -fx-pref-width: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 16px;
    -fx-min-width: 18px;
    -fx-min-height: 16px;
}

.icon-send-setting {
    -fx-pref-height: 18px;
    -fx-pref-width: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 18px;
    -fx-min-width: 18px;
    -fx-min-height: 18px;
}

/*client group relate in server pane*/
.icon-select-all {
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
}

.icon-delete {
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
}

.sidebar .toggle-button,
.icon-button {
    -fx-pref-width: 26;
    -fx-max-width: 26;
    -fx-pref-height: 26;
    -fx-max-height: 26;
    -fx-background-color: -app-base;
    -fx-background-insets: 0;
    -fx-background-radius: 3px, 3px;
    -fx-padding: 3;
}

.addr-icon-button {
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-background-color: -app-base;
    -fx-background-insets: 0;
    -fx-background-radius: 3px, 3px;
    -fx-padding: 3;
}

.addr-icon-button:disabled {
    -fx-background-color: -app-base;
}

.addr-icon-button:disabled .icon-add,
.addr-icon-button:disabled .icon-history {
    -fx-background-color: -btn-disable-icon;
}

.sidebar .toggle-button:focused,
.icon-button:focused,
.addr-icon-button:focused {
    -fx-background-color: -app-base;
}

.sidebar .toggle-button:focused:hover,
.icon-button:hover,
.addr-icon-button:hover {
    -fx-background-color: -btn-hover;
}

.sidebar .toggle-button:selected {
    -fx-background-color: -app-base, -btn-highlight;
}

.sidebar .toggle-button:selected:focused {
    -fx-background-color: -app-base, -btn-highlight;
}

.icon-button:pressed {
    -fx-background-color: -btn-highlight;
}
