.text-field {
    -fx-background-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-max-width: 40px;
    -fx-cursor: default;
}

.text-field:focused {
    -fx-background-color: transparent;
    -fx-padding: 4 0 4 0;
}

.icon-close-bold,
.icon-close {
    -fx-background-color: -icon-color;
}

.icon-close-bold:hover,
.icon-close:hover {
    -fx-background-color: -icon-hover;
}
