.root {
    -fx-background-color: #3C3F41;
    -fx-border-color: #a9a9a9;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0.2 0;
}
.title {
    -fx-padding: 0 0 0 10;
    -fx-text-fill: #a9a9a9;
}
.max-label,
.min-label,
.pin-label {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #a9a9a9;
}
.max-label:hover,
.min-label:hover,
.pin-label:hover{
    -fx-background-color: #4f5254;
    -fx-text-fill: #a9a9a9;
}
.close-button {
    -fx-text-background-color: -darcula-text-disabled;
    -fx-text-fill: #a9a9a9;
    -fx-prompt-text-fill: -darcula-text-disabled;
    -fx-opacity: 1.0;
}
.close-button:hover {
    -fx-background-color: red;
}
