.root {
    -fx-background-color: -app-base;
    -fx-border-color: -icon-color;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0.2 0;
}
.title {
    -fx-padding: 0 0 0 10;
    -fx-text-fill: -icon-color;
}

.icon-pin {
    -fx-shape: "M911.15102 323.918367L689.632653 102.4c-18.808163-18.808163-50.155102-20.897959-71.053061-2.089796l-267.493878 229.877551-96.130612 14.628572c-6.269388 0-12.538776 4.179592-16.718367 8.359183l-58.514286 58.514286c-20.897959 20.897959-20.897959 54.334694 0 73.142857l152.555102 152.555102L125.387755 844.277551c-12.538776 12.538776-12.538776 31.346939 0 43.885714 6.269388 6.269388 14.628571 10.44898 20.897959 10.44898s16.718367-2.089796 22.987755-8.359184l204.8-204.8 152.555102 152.555102c10.44898 10.44898 22.987755 14.628571 37.616327 14.628572s27.167347-6.269388 37.616326-14.628572l58.514286-58.514285c4.179592-4.179592 8.359184-10.44898 8.359184-16.718368l14.628571-96.130612 227.787755-267.493878c18.808163-25.077551 18.808163-56.42449 0-75.232653zM631.118367 629.028571c-4.179592 4.179592-6.269388 10.44898-6.269387 14.628572l-14.628572 94.040816-45.97551 45.97551-334.367347-334.367347 43.885714-43.885714 94.040817-14.628571c6.269388 0 10.44898-4.179592 14.628571-6.269388l269.583674-229.877551 206.889795 206.889796-227.787755 267.493877z";
    -fx-padding: 4;
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-background-color: -icon-color;
}

.icon-close {
    -fx-shape: "M15.43,20l1.14,1.15-.14.14-1.14-1.15-1.15,1.15L14,21.19,15.14,20,14,18.89l.14-.14,1.15,1.15,1.14-1.15.14.14Z";
    -fx-padding: 4;
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-background-color: -icon-color;
}

.icon-restore {
    -fx-shape: "M741.9 281.7v663h-663v-663h663m0.8-76.1H78.1c-41.3 0-76.1 34-76.1 76.1v664.6c0 41.3 34 76.1 76.1 76.1h664.6c41.3 0 76.1-34 76.1-76.1V280.9c-0.8-42.1-34-75.3-76.1-75.3z m204.8-204H281.3c-41.3 0-74.5 34-75.3 74.5v77.7h76.1V77.7h663v663H869v76.1h77.7c41.3 0 74.5-34 75.3-75.3V76.1c0-40.5-34-74.5-74.5-74.5z";
    -fx-padding: 4;
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-background-color: -icon-color;
}

.icon-max {
    -fx-shape: "M770.9 923.3H253.1c-83.8 0-151.9-68.2-151.9-151.9V253.6c0-83.8 68.2-151.9 151.9-151.9h517.8c83.8 0 151.9 68.2 151.9 151.9v517.8c0 83.8-68.1 151.9-151.9 151.9zM253.1 181.7c-39.7 0-71.9 32.3-71.9 71.9v517.8c0 39.7 32.3 71.9 71.9 71.9h517.8c39.7 0 71.9-32.3 71.9-71.9V253.6c0-39.7-32.3-71.9-71.9-71.9H253.1z";
    -fx-padding: 4;
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-background-color: -icon-color;
}

.icon-min {
    -fx-shape: "M923 571H130.7c-27.6 0-50-22.4-50-50s22.4-50 50-50H923c27.6 0 50 22.4 50 50s-22.4 50-50 50z";
    -fx-padding: 4;
    -fx-pref-height: 2px;
    -fx-pref-width: 14px;
    -fx-max-width: 14px;
    -fx-max-height: 2px;
    -fx-min-width: 14px;
    -fx-min-height: 2px;
    -fx-background-color: -icon-color;
}
.max-label,
.min-label,
.pin-label {
    -fx-background-color: -app-base;
    -fx-text-fill: -icon-color;
}

.max-label:hover,
.min-label:hover,
.pin-label:hover{
    -fx-background-color: -btn-hover-2;
    -fx-text-fill: -icon-color;
}
.close-button {
    -fx-text-background-color: -darcula-text-disabled;
    -fx-text-fill: -icon-color;
    -fx-prompt-text-fill: -darcula-text-disabled;
    -fx-opacity: 1.0;
}
.close-button:hover {
    -fx-background-color: red;
}
