.root {
    -fx-background-color: -app-base;
    -fx-border-color: -icon-color;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0.2 0;
}
.title {
    -fx-padding: 0 0 0 10;
    -fx-text-fill: -icon-color;
}

.icon-pin {
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
}

.icon-close {
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
}

.icon-restore {
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
}

.icon-max {
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
}

.icon-min {
    -fx-padding: 4;
    -fx-pref-height: 2px;
    -fx-pref-width: 14px;
    -fx-max-width: 14px;
    -fx-max-height: 2px;
    -fx-min-width: 14px;
    -fx-min-height: 2px;
}
.max-label,
.min-label,
.pin-label {
    -fx-background-color: -app-base;
    -fx-text-fill: -icon-color;
}

.max-label:hover,
.min-label:hover,
.pin-label:hover{
    -fx-background-color: -btn-hover-2;
    -fx-text-fill: -icon-color;
}
.close-button {
    -fx-text-background-color: -darcula-text-disabled;
    -fx-text-fill: -icon-color;
    -fx-prompt-text-fill: -darcula-text-disabled;
    -fx-opacity: 1.0;
}
.close-button:hover {
    -fx-background-color: red;
}
